.row.col-md-12.campaign-gallery {
  border: 4px solid orange;
  background-color: inherit;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1024px) {
  .row.col-md-12.campaign-gallery {
    padding-top: 2.5rem !important;
  }
}

.col-md-3.campaigns {
  padding-bottom: 1rem;
}

.individual-campaign {
  background-color: transparent;
  border: none;
}

#gallery {
  text-align: center;
}

.campaignImagesList {
  text-align: center;
}

#campaign {
  font-size: 50px;
  font-weight: 900;
  font-family: sans-serif;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  #campaign {
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
  }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
  #campaign {
    font-size: 36px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #campaign {
    font-size: 36px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
  }
}
