.nav-link {
  background: linear-gradient(
    to right,
    orange,
    orange 50%,
    lightgray 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  transition: background-position 700ms ease;
  background-position: 100%;
  font-family: sans-serif;
  font-weight: 800;
}

.nav-link:hover {
  background-position: 0 100%;
}

.navbar {
    font-size: 24px;
    background-color: inherit !important;
}

#brand-logo {
    height: 50px;
    width: 50px;
}


